// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//COLORS
$cor-links: #fff;
$cor-links-hover:rgba(243, 243, 243, 0.63);


// FONT SIZE



// FONT
$familia-padrao: 'Gotham', sans-serif;



