//FOOTER CSS

.footerMenuTitle {
	text-transform:uppercase;
	font-weight: bold;
}
.page-template-page-appointment {
	#footer{
		display: none;
	}
}
footer#footer {
	background: #000;
	color: white;
	font-family: $familia-padrao;
	padding-bottom: 25px;
	padding-top: 20px;
	position: absolute;
	width: 100%;
	bottom:-70px;
}
.fp-section footer#footer {
	margin-top:70px;
}
.footerMenu {
	text-transform: uppercase;
}
footer{
	height: auto!important;
}
.footerMenu a{
	text-decoration: underline;
	color: white;
}
.footerMenu ul {
	list-style: none;
	margin-left: 0px;
    padding-left: 0px;
    margin-top: 10px;

}
.footerMenu ul li {
	padding-top: 13px;
}
.footerMenu {
	text-align:left;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.15em;
}

