@font-face {
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Gotham-Book.otf);
}
@font-face {
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
    font-family: Gotham;
    font-style: normal;
    font-weight: lighter;
    src: url(../fonts/Gotham-Light.otf);
}

@font-face {
    font-family: Gotham;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Gotham-Ultra.otf);
}
ul.nav li.dropdown > ul.dropdown-menu{
    margin: 0;
    margin-left: 14px;
}
/*.nav>li>a:last-child {
    padding-right: 0px;
}*/
ul.dropdown-menu {
    background: none;
    border: 0px;
    box-shadow: none;
}
ul.dropdown-menu a {
    color: white;
    padding-left: 0px;
    font-size: 11px;
    padding-right: 0px;
    display: inline-block;
    margin-bottom: 7px;
    transition: $default-animation;
    border-bottom: 0px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background: none;
}
ul.dropdown-menu a:hover{
    background: none;
    color: white;
	border-bottom: 1px solid;
	transition: $default-animation;
}
#header{
	transition: $default-animation;
}
.menu-item-has-children .caret{
	display: none!important;
}

.header-active{
	background-color: #050505;
	transition: $default-animation;
}
.page-header{
	border:none!important;
}
.logo{
	max-width: 120px !important;
}

.navbar-main-navigation{
	float: right;
}
.navbar-nav{
	font-family: $familia-padrao;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: $font-size-menu;
}

.navbar-nav a{
	color: $cor-links;
	transition:$default-animation;
}
.navbar-nav a:hover{
	color: $cor-links-hover;
}
.nav>li>a:hover, .nav>li>a:focus{
	background: none;
}

.header{
	padding-top: 5px;
}
.page-header a{
    display: inline-block;
    margin-top: 6px;
}
.navbar-nav>li{
	margin-left: 8em;
}
#header{
	position:fixed;
	top:0;
	left:0;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.activeButtom span:last-child {
    transform: rotate(45deg);
    display: inline-block;
    position: relative;
    bottom: 5px;
    transition: $default-animation;
}
.activeButtom span:nth-child(2) {
    transform: rotate(-45deg);
    display: inline-block;
    position: relative;
    bottom: 5px;
    right: -26px;
    transition: $default-animation;
}
.activeButtom .closeIcon{
	display: none!important;
}
button.navbar-toggle {
    transition: $default-animation;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background: none;
}
@media all and (max-width: 992px) {
	.logo{
    	max-width: 100px;
	}
	.navbar-nav>li {
    	padding-left: 2em!important;

	}

	.navbar-toggle .icon-bar {
    	background: white;
	}

	.btn-default:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .btn-default:focus, input[type="submit"]:focus, input[type="reset"]:focus, button:focus{
    	color: #333;
    	background: none;
    	border: none;
	}
	.btn-default:active, input[type="submit"]:active, input[type="reset"]:active, button:active{
    	background: none;
    	border: none;
	}
	button:active:focus{
		background: none;
		border: none;
	}
	nav.navbar-collapse.navbar-main-navigation.col-md-12.collapse.in{
		width: 100%;
    	text-align: right;
    	margin-top: 22px;
    	height: 1000px;
    	box-shadow: none;
	}
	.navbar-collapse{
		width: 100%;
    	text-align: right;
    	margin-top: 22px;
    	height: 1000px;
		box-shadow: none;
	}
	.navbar-main-navigation {
	    float: right;
	    text-align: right;
	    width: 100%;
	}
	.backgroundMenu{
		background: #33135e;
		transition: $default-animation;
	}
	.navbar-brand{
		padding: 0px;
	}
	.navbar-toggle{
		margin: 0px;
	}

	.no-transition {
  		transition: height 1ms;
	}
	.navbar-nav>li {
    	padding-left: 1em;
	}
	nav.collapse.navbar-collapse.navbar-main-navigation.col-md-12.no-transition {
    	margin-top: -5px;
	}

}
@media all and (max-width: 1200px) {
	.navbar-nav>li {
    	padding-left: 5em;
	}
}
@media all and (max-width: 768px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu{
		text-align: right;
		margin-left: -14px;
	}
	.menu-item-has-children .caret{
		display: inline-block!important;
	}

	.navbar-nav>li{
		padding: 0px!important;
	}
}
@media all and (min-width: 768px) {

}
