@font-face {
    font-family: Times Italic;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Times-Italic.ttf);
}
div#fp-nav ul li:last-child {
    display: none;
}
.fp-auto-height.fp-section {
	background: #000;
}
// REMOVER APOS DA COLOCAÇÃO DO LOOOP
.two {
	background: url(../images/2.png)!important;
	background-size: cover!important;
	background-position: center;
}
.three {
	background: url(../images/3.png);
	background-size: cover;
	background-position: center;
}

// SLIDER FRONT-END
.theTitle{
	text-transform: uppercase;
	font-family: $familia-padrao;
	font-size: $font-size-title;
	letter-spacing: 3px;
	color: $cor-txt-post;
	font-weight: bold;
}
.info{
	font-family: $familia-secundaria;
    color: $cor-txt-post;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: none;
    margin-left: -15px;
    margin-right: -15px;
}

.theButtom, .theButtom:hover{
	text-transform: uppercase;
    font-family: "Gotham",sans-serif;
    font-size: 14px;
    color: $cor-txt-post;
    padding: 12px;
    border: 0.1px solid $cor-txt-post;
    width: inherit;
    text-align: center;
    display: block;
    margin-top: 25px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-decoration: none;
    transition:$default-animation;

}
.theButtom:hover{
	background-color: $cor-txt-post;
	color: $cor-btt-hover-txt;
	transition:$default-animation;
}
.section {
	background-size: cover;
	background-position: center;
}

.section.color-black {
	.theTitle{
		color: $cor-preto;
	}
	.info{
		color: $cor-preto;
	}
	.theButtom, .theButtom:hover{
		border: 0.1px solid $cor-preto;
		color: $cor-preto;
	}
	.theButtom:hover{
		background-color: $cor-preto;
		color: $cor-txt-post;
		transition:$default-animation;
	}

}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
	background: #515151!important;
	width: 7px!important;
	height: 7px!important;
	transition: $default-animation;

}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
	width: 7px!important;
	height: 7px!important;
	margin: -6px 0 0 -2px!important;
	transition: $default-animation;
	background: #CDCDCD!important;
}
.theButtom{

}
// FIM SLID
.form {
	float: right;
}

#footer{
}
input[type="text"] {
	float: none;
	display: block;
	background: none;
    border: none;
    border-bottom: 0.1px solid white;
    color: white;
    width: 100%;
}
label{
	width: 98%;

}
div.wpcf7 img.ajax-loader{
	display: none;
}
form {
	color: white;
}
input[type="email"]:focus {
    outline: none;
}
input[type="text"]:focus {
    outline: none;
}
input[type="email"] {
	float: none;
	display: block;
	background: none;
    border: none;
    border-bottom: 0.1px solid white;
    color: white;
    width: 100%;
}
.page-template-page-home input[type="submit"] {
    background: none;
    border-radius: 0px;
    padding: 12px;
    color: white;
    text-transform: uppercase;
    font-family: $familia-padrao;
    margin-top: 15px;
    width: 100%;
    transition:$default-animation;
}
form {
	font-family: $familia-padrao;
	font-size: 0.9em;
    letter-spacing: 2px;
}
form .col-md-6{
	margin-left: 0px;
	margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.form form{
	background-color:rgba(0,0,0,0.58);
	padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
}
form .col-md-12{
	margin: 0;
	padding: 0;
}
input[type="submit"]:hover {
    background: white;
    color: #2d2d2d;
    transition:$default-animation;
}
.theButtomM, .theButtomM:hover{
	text-transform: uppercase;
	font-family: $familia-padrao;
	font-size: 15px;
	color: $cor-txt-post;
	padding: 30px;
	width: inherit;
	text-align: center;
	display: block;
	margin-top: 25px;
	font-weight: lighter;
	letter-spacing: 1px;
	text-decoration: none;
	transition:$default-animation;
	color: white;
	background: rgba(100,100,100,0.5);
}
.section.form {
    margin-bottom:0;
}
@media all and (min-width: 993px){
	.section.mobile-color-white {
		.theTitle{
			color: #2d2d2d;
		}
		.info{
			color: #2d2d2d;
		}
		.theButtom, .theButtom:hover{
			border: 0.1px solid #2d2d2d;
			color: #2d2d2d;
		}
		.theButtom:hover{
			background-color: #2d2d2d;
			color:#fff;
			transition:$default-animation;
		}

	}

	.section.mobile-color-black {
		.theTitle{
			color: #fff;
		}
		.info{
			color: #fff;
		}
		.theButtom, .theButtom:hover{
			border: 0.1px solid #fff;
			color: #fff;
		}
		.theButtom:hover{
			background-color: #fff;
			color:#2d2d2d;
			transition:$default-animation;
		}

	}
}

@media all and (max-width: 992px) {
	.theTitle{
		padding-right: 80px;
		font-size:3.0em;
	}
	.theButtomM{
			position: absolute;
    		bottom: 0px;
	}

	.section.mobile-color-white {
		.theTitle{
			color: #fff;
		}
		.info{
			color: #fff;
		}
		.theButtom, .theButtom:hover{
			border: 0.1px solid #fff;
			color: #fff;
		}
		.theButtom:hover{
			background-color: #fff;
			color:#2d2d2d;
			transition:$default-animation;
		}

	}

	.section.mobile-color-black {
		.theTitle{
			color: #2d2d2d;
		}
		.info{
			color: #2d2d2d;
		}
		.theButtom, .theButtom:hover{
			border: 0.1px solid #2d2d2d;
			color: #2d2d2d;
		}
		.theButtom:hover{
			background-color: #2d2d2d;
			color:#2d2d2d;
			transition:$default-animation;
		}

	}


}



@media all and (max-width: 1200px) {


}

@media all and (max-width: 768px) {
	.container-fluid .col-md-offset-1{
		.theButtom {
			display: none;
		}

	}
	.section.form {
    	margin-bottom: 590px;
	}

	#fp-nav{
		display: none!Important;
	}
}
@media all and (min-width: 768px) {
	.theButtomM{
		display: none;
	}
}

.wp-activate-container {
    margin-top: 107px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.wp-activate-container h2 {
    display: none;
}

.wp-activate-container p {
    text-transform: uppercase;
}
