.woocommerce-info{display: none;}

.logged-in .col-2{
	margin-top: 0px!important;
}

.page-template-page-step-2{
	p#account_password_field {
    	width: 100%;
	}
	div#step-2 {
    	margin-bottom: 25px;
	}
	.col-2 {
	    width: 100%!important;
	    margin-top: 54px;
	    display: block;
	}
	background-color: #33135e;
	span.book-summary {
	    text-transform: uppercase;
	    font-weight: bold;
	    font-family: $familia-padrao;
	    font-size: 1.35em;
	    letter-spacing: 0.5px;
	}
	.form-row.place-order {
    	display: none;
	}
	ul.wc_payment_methods.payment_methods.methods li {
	    font-family: $familia-padrao;
	    text-transform: uppercase;
	    color: white;

	}
	ul.wc_payment_methods.payment_methods.methods li div {
    	background: none!important;
    	color: white!important;
    	padding-left: 0px!important;
    	padding-right: 0px!important;
	}
	ul.wc_payment_methods.payment_methods.methods li div:before{
		display: none!Important;
	}
	p.form-row.form-row-wide {
    	/*margin-bottom: 23px!Important;
    	padding-top: 30px;*/
	}
	td.product-name {
	    font-family: $familia-padrao;
	    padding-top: 7px;
	    font-style: italic;
	    font-size: 1.19em;
	    text-transform: uppercase;
	}
	a.remove-item {
	    color: #f68c8a;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 0.7em;
	    display: inline-block;
	    font-family: $familia-padrao;
	    padding-left: 8px;
	}
	tr.cart-subtotal {
    	border-top: 1px solid;
    	line-height: 50px;
	}
	tfoot {
	    text-transform: uppercase;
	    font-size: 1.19em;
	    font-family: $familia-padrao;
	    line-height: 38px;
	}
	tr.order-total {
    	border-top: 1px solid;
    	line-height: 60px;
	}
	td.product-total {
	    font-family: $familia-padrao;
	    font-size: 1.2em;
	    font-style: italic;
	}
	dl.variation {
    	margin-top: 12px;
	}
	table.shop_table.woocommerce-checkout-review-order-table {
    	width: 100%;
	}
	.woocommerce-shipping-fields h3 {
	    font-size: 1.3em;
	    text-transform: uppercase;
	    font-weight: bold;
	    margin-top: 30px;
	    letter-spacing: 3px;
	}
	.product-infos .checkout-steps{padding: 0px;}
	.woocommerce-shipping-fields p {
    	padding: 0px!important;
	}
	a.col-md-12.back-button {
	    display: inline-block;
	    padding-left: 0px;
	    font-size: 0.44em;
	    color: #fff;
	    text-transform: uppercase;
	    font-weight: normal;
	    margin-bottom: 15px;
	}
	div#payment {
    	margin-top: 36px;
    	background: none!Important;
	}
	#payment label img {
    	height: 23px!Important;
    	float: right;
	}
	ul.wc_payment_methods.payment_methods.methods {
    	padding-left: 0px!Important;
    	padding-right: 0px!Important;
	}
	div#payment ul li label {
    	font-size: 2.3em;
    	font-weight: normal;
    	line-height: 21px;
	}
	ul.wc_payment_methods.payment_methods.methods {
    	border: 0px!important;
	}
	.woocommerce #payment .form-row select, .woocommerce-page #payment .form-row select{
		width: 49%;
	    font-size: 1.3em;
	    padding-top: 8px;
	    padding-bottom: 8px;
	}
	div#payment {
	    border-top: 3px solid white;
	    border-radius: 0px!important;
	}
	label[for="cc-expire-month"] span {
    	margin-left: 0px!Important;
	}
	#payment p select {
	    border-radius: 0px;
	    border: 0px;
	    text-transform: uppercase;
	}
	#payment ul li div p label {
    	font-size: 1.3em;
	}
	a.submit-checkout.col-md-9 {
	    font-family: $familia-padrao;
	    text-transform: uppercase;
	    font-size: 1.13em;
	    background: #F87B7D;
	    padding: 14px;
	    line-height: 1.4!Important;
	    margin-top: 19px;
	    text-align: center;
	    color: white;
	    margin-bottom: 19px;
	    transition: all ease-in 230ms;
	}
	a.submit-checkout:hover{
		text-decoration: none !Important;
		background: #ff807e;
		transition: all ease-in 230ms;
	}
	#header{
		position: inherit;
	}
	.woocommerce form .form-row.woocommerce-invalid label {
    	color: #a00;
	}
	.mini-cart{
	    display: flex;
    	justify-content: flex-end;
    	align-content: flex-end;
		margin-top: 35px;
		flex-flow: column;
		align-items: flex-end;
	}
	.cart-e {
    	background: #eee;
    	padding: 21px;
	}
	.woocommerce-billing-fields {
    	margin-top: 30px;
	}
	p#billing_phone_field, p#billing_email_field {
	    margin-top: 30px;
	}
	p#order_comments_field {
    	width: 100%;
	}
	textarea#order_comments {
    	padding: 10px;
    	width: 100%;
    	color:$cor-preto;
	}
	.select2-input {
		color:$cor-preto;
	}
	input[type="tel"] {
	    float: none;
	    display: block;
	    background: none;
	    border: none;
	    border-bottom: 0.1px solid white;
	    color: white;
	    width: 100%;
	}
	input[type="password"] {
	    float: none;
	    display: block;
	    background: none;
	    border: none;
	    border-bottom: 0.1px solid white;
	    color: white;
	    width: 100%;
	}
	@media (max-width: 1000px){
		p#billing_address_2_field {
			width: 100%!important;
			margin-top: 0px!important;

		}
	}
	p#billing_country_field {
    	margin-top: 30px;
 	   width: 100%;
	}
	p#billing_address_2_field {
    	clear: right;
    	margin-top: 34px;
    	width: 25%;
	}
	.general-title{
		font-family: $familia-padrao;
    	font-weight: 600;
    	font-size: 2em;
    	text-transform: uppercase;
    	letter-spacing: 2px;
	}
	.select2-container .select2-choice {
	    border-radius: 0px;
	    border: none;
	    height: 43px;
	    line-height: 43px;
	    padding-left: 17px;
	    font-family: $familia-padrao;
    	background-color: #fafafa;
	}
	p#billing_city_field {
    	margin-top: 30px;
    	width: 100%;
	}
	.form-row label {
	    text-transform: uppercase;
	    font-weight: normal;
	    font-size: 1.17em;
	}
	.woocommerce form .form-row .required {
	    color: white;
	    font-weight: normal;
	    border: 0;
	    font-size: 0.9em;
	    margin-left: -5px;
	}
	p.form-row {
    	color: #fefefe!important;
	}
	p.form-row input {
    	padding-bottom: 4px;
    	font-size: 1.3em;
    	font-style: italic;
    	color: #fefefe;
	}
	.create-account p:first-child {
		display: inline-block;
		width:100%;
	}
}

@media (max-width: 991px) {

  .navbar-header {
      float: none;
      padding: 4px;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
		display:block !important;
  }
  ul.slot_column{
		width: 100%!important;
  }
  .page-template-page-appointment .nxt-step, .single-product .nxt-step, .page-template-page-step-2 .nxt-step{
	  	width: 100%;
	    margin-bottom: 35px;
  }
  .woocommerce-billing-fields p {
    	width: 100%!important;
	}

	.page-template-page-step-2 a.col-md-12.back-button{
		    display: block!important;
	}
	.checkout-steps{
		display: none!important;
	}
}

.page-template-page-appointment,.single-product, .page-template-page-step-2{
	@media all and (max-width: 768px) {
		.col-md-4.control{
			margin-top: 26px;
		}
		.col-md-6.pull-right.checkout-steps{
			display: none;
		}
		.product-infos{
			justify-content: inherit;
		}
	}

	li.slot_heading {
	    /* float: left; */
	    padding-left: 29px;
	    font-weight: bold;
	    letter-spacing: 4px;
	    background: #F87B79;
	}

	.slot_heading, .slot a {color: #2d2d2d!important;opacity: 1!important;}

	li.slot a {
	    padding: 26px;
	}

	.slot_row {
	    width: 100%;
	}

	ul.slot_column.evening {
	    display: none;
	}

	background-color: $cor-roxo;
	.general-title{
		font-family: $familia-padrao;
    	font-weight: 600;
    	font-size: 2em;
    	text-transform: uppercase;
    	letter-spacing: 2px;
	}
	a.btn.show-options-btn.col-md-12 {
	    background: none;
	    height: 42px;
	    display: flex;
	    padding-left: 25px;
	    align-items: center;
	    font-size: 1.1em;
	}
	.product-infos .checkout-steps span.current {
    	font-weight: 600;
	}
	.col-md-7.show-options {
	    padding: 0px;
	    font-size: 0.89em;
	}
	.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
    border-color: white;
	}
	.addon-description {
    	text-transform: uppercase;
    	font-size: 1em;
    	font-weight: 600;
	}
	.addon-description p {
    	padding: 0px;
    	margin-bottom: 5px;
	}
	.required-product-addon, .product-addon-service-2, .product-addon-service-3,.product-addon-service-4{
		p.form-row.form-row-wide{
			    /*overflow: hidden;*/
			    background: url(../images/arrow.png) no-repeat right #EEE;
			    margin: 0px;
			    padding: 0px;
			    display: block;

			    background-repeat: no-repeat!important;
			    background-color: #EEE!Important;
			    background-position-x: right;
			    background-size: 23px;
		}
	}
	.selectric-scroll ul li {
	    font-weight: bold;
	    color: #000!important;
	}
	.selectric{
		border-color: #33135e!Important;
		background: none;
		border-left: 0px;
	    border-right: 0px;

	}
	.selectric .button{
		display: none!Important;
	}
	#billing_state_field .selectric{
		background: #eee!Important;
	}
	.product-addon-option-1, .product-addon-option-2, .product-addon-option-3, .product-addon-option-4{
		p.form-row.form-row-wide{
			padding-left: 43px;
			width: 90%;
			padding-top:5px;
			label{
				font-weight: 100;
			}
		}
	}
	li.slot a:hover {
    	text-decoration: none;
	}


	li.slot:hover {
	    background: #ddd;
	    text-decoration: none;
	}
	.no-float{
		float: none;
	}
	.no-padding{
		padding: 0px;
	}
	ul.slot_column, .single-product ul.slot_column {
		list-style: none;
	    margin-left: 0px!important;
	    padding-left: 0px!important;
	    float: left;
	    width: 46%;
	    margin-right: 17px;
	}
	.product-addon.product-addon-option-1 {
    	margin-top: 28px;
	}
	select.addon.addon-select {
	    color: #000;
	    height: 46px;
	    padding-left: 25px;
	    font-size: 1.1em;
	    background: transparent;
	    line-height: 1;
	    border: 0;
	    border-radius: 0;
	    -webkit-appearance: none;
	    text-transform: uppercase;
	    width: 100%;
	}

	table.ui-datepicker-calendar {
    	text-transform: uppercase;
	}

	.ui-datepicker-title {
    	text-transform: uppercase;
	}
	ul.slot_column {
    	list-style: none;
    	padding-left: 17px;
	}
	li.slot {
    	padding: 15px;
    	background-color: #eee;
    	color: #2d2d2d
	}
	li.slot a {
    	color: white;
    	opacity: 0.6;
	}
	.slot_heading {
    	padding: 15px;
    }
	a.btn.show-options-btn {
	    font-size: 0.9em;
	    text-transform: uppercase;
	    color: $cor-preto;
	    border-radius:0;
	    display: inline-block;
	    background: $cor-txt-post;
	}
	.wc-appointments-date-picker .ui-datepicker *{
		color: white;
	}
	.wc-appointments-date-picker .ui-datepicker td .ui-state-default{
		color: white;
	}
	.wc-appointments-date-picker .ui-datepicker td.appointable a:hover{
		color: white;
	}
	.wc-appointments-date-picker .ui-datepicker td.ui-datepicker-current-day a, .wc-appointments-date-picker .ui-datepicker td.ui-datepicker-current-day a:hover{
		background: #f87b79;
	}
	.product-title{
		padding: 0px;
		margin: 0px;
	}
	.slot-picker {
    	text-transform: uppercase;
    	padding-top: 17px;
    	padding-bottom: 17px;
	}
	#header{
		position: inherit;
	}
	.control{
		display: flex;
		flex-flow: column;
		padding: 0px;
	}
	.each-customer h3 {
    	text-transform: uppercase;
    	/*margin-bottom: 13px!important;*/
    	font-weight: bold;
    	letter-spacing: 4px;
	}
	.each-customer {
    	margin-bottom: 25px!important;
	}
	.each-customer, .each-customer h3 {
   		padding: 0px;
    	margin: 0px;
	}
	.select-field {
    	padding: 0px;
	}
	.product-description {
	    font-family: $familia-padrao;
	    color: $cor-links;
	    padding-top: 15px;
	}
	.form-appo{
		margin-top: 30px;
	}
	.select-field label {
	    font-family: $familia-padrao;
	    font-weight: 600;
	    text-transform: uppercase;
	    font-size: 1em;
	}

	.select-guest {
	    color: #000;
	    height: 46px;
	    padding-left: 25px;
	    font-size: 1.1em;
	    background: transparent;
	   line-height: 1;
	   border: 0;
	   border-radius: 0;
	   -webkit-appearance: none;
	   text-transform: uppercase;
	   width: 100%;
	}
	.addon-name {
		display: none;
	}
	.select-area{
	    /*overflow: hidden;*/
	    background: url(../images/arrow.png) no-repeat right #EEE;
	    background-size: 23px;
     	margin: 0px;
   		padding: 0px;
	}
	.col-md-8.select-field.appointment-date-fields {
    	margin-top: 23px;
	}
	.col-md-4.tes {
    	padding: 0px;
    	margin-top: 27px;
	}
	.selectric-items {
    	text-transform: uppercase;
    	padding-left: 7px;
	}
	.selectric-items ul, .selectric-items li {
    	font-size: 1em;
    	background: none!Important;
    	letter-spacing: 0px;
	}
	.selectric span.label {
	    text-align: left;
	    font-family: Gotham!important;
	    text-transform: uppercase;
	    font-weight: normal;
	    font-size: 1.1em!important;
	    height: 42px!important;
	}
	.selectric-items {
    	background: #eee;
	}
	.nxt-step{
		background: #f87b79;
	    color: white;
	    text-transform: uppercase;
	    letter-spacing: 3px;
	    padding-top: 13px;
	    padding-bottom: 13px;
	    border-radius: 0px;
	    border: none;
	    font-weight: bold;
	    margin-top: 21px;
	}
	.nxt-step:hover{
		background: #f87b79;
		color: white;
	}
	.nxt-step:active{
		background: #f87b79;
		color: white;
	}
	.appointment-date-fields fieldset {
		border:1px solid $cor-txt-post;
		legend {
			display: none;
		}
	}
	.appointment-date-fields {
		.form-field-wide {
			border:1px solid $cor-txt-post;
			display: none;
		}
	}
	.product-addon {
		width:45%;
		float:left;
		height:85px;
		display: none;
		@media screen and ( max-width:700px ) {
			width:100%;
		}
	}
	.product-addon:first-child,
	.product-addon:nth-child(2) {
		display: block !important;
	}
 }

.product-infos {
	padding-top:29px;
	display: flex;
    align-items: center;
    justify-content: center;
	.product-title {
		color:$cor-txt-post;
	}
	.checkout-steps {
	    text-align: right;
	    font-size: 0.6em;
	    font-family: $familia-padrao;
	    font-weight: 100;
	    letter-spacing: 2px;
	    span {
			display: inline-block;
			padding-left:30px;
			font-size:1.3em;
			color:$cor-txt-post;
			text-transform: uppercase;
		}
	}


}
@media (max-width:991px){
	.page-template-page-step-2 .mini-cart{
		align-items: initial;
	}

	.product-infos{
		justify-content: initial;
	}
}
.woocommerce-shipping-fields {
	display: none;
}

/** checkout coupon field */
.form-coupon-checkout {
	.btn-apply-coupon {
		font-family: "Gotham",sans-serif;
		text-transform: uppercase;
		font-size: 1.13em;
		background: #F87B7D;
		text-align: center;
		color: white;
		border-radius:0;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 22px;
		display:none;
		opacity: 0;
		transition:700ms ease all;
	}
	.btn-apply-coupon.visible {
		opacity:1;
		display: inline-block;
		transition:700ms ease all;
		margin-top: -21px;
	}
	input[name="apply-wc-coupon"] {
		width:47% !important;
		float:left;
	}
}
